* {
	margin: 0;
	padding: 0;
}
.header{
    background-color:#222;
    height:50px;
}
.header-1 ul li.icon1 a{
    background-image: url("../anh/icon1.png");
    background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	display: block;
	width: 27px;
	height: 27px;
	text-indent: -2000em;
}
.header-3 ul li.icon-Register a{
	background-image: url("../anh/icon-Register.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	display: block;
	width: 16px;
	height: 27px;
	text-indent: -2000em;	
}
.header-3 ul li.icon-login a{
	background-image: url("../anh/icon-login.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	display: block;
	width: 16px;
	height: 27px;
	text-indent: -2000em;
}
.header-3, .header-2 {
	float: right;
}
.header-3{
	text-decoration: none;
		display: flex
}
ul {
list-style: none;
}